/ Intro
%section#intro.main.style1.dark.fullscreen
  .content.container{:class => "75%"}
    %header
      %h2 MARIGOLD DANCE STUDIO
    %p YOUR SPACE TO FLOURISH.
    %footer
      %a.button.style2.down{:href => "#one"} More
/ One
%section#one.main.style2.dark.right.fullscreen
  .content.intro-box.style2.fade-in.one
    %p.intro-text
      %strong MARIGOLD DANCE STUDIO
      is a dance and fitness studio. We envision Marigold as a platform for all of our members and students to receive the best guidance at leading outlooks full of creativity and vivacity. Marigold offers programs and daily classes featuring a wide spectrum of dance and fitness disciplines.
  %a.button.style2.down.anchored{:href => "#two"} Next
/ Two
%section#two.main.style2.center.dark.fullscreen
  .content.box.style2.fade-in.one
    %p.less-text
      WHETHER YOU WANT TO BE
      %br>/
      ARTISTIC OR ACTIVE
      %br>/
      WE HAVE THE CLASS FOR YOU
    %p
      %a.btn.btn-box{:href => "programs.html"} Our Programs
  %a.button.style2.down.anchored{:href => "#three"} Next
/ Three
%section#three.main.style2.center.dark.fullscreen
  .content.box.style2.fade-in.one
    %p.less-text
      SEE WHAT'S GOING ON THIS WEEK
      %br>/
      WHY WAIT?
    %p
      %a.btn.btn-box{:href => "pricing.html"} View Schedule
  %a.button.style2.down.anchored{:href => "#four"} Next
/ four
%section#four.main.style2.center.dark.fullscreen
  .content.box.style2.fade-in.one
    %p.less-text
      WE HAVE A BEAUTIFUL SPACE
      %br>/
      USE IT AS YOUR OWN
    %p
      %a.btn.btn-box{:href => "book.html"} Book Now
  %a.button.style2.down.anchored{:href => "#contact"} Next
/ Contact
%section#contact.main.style3.secondary
  .content.container
    %header
      %h2 Say Hello.
      %br/
      .contact-box
        #map-canvas
        .contact-details
          %strong Address :
          %br/
          485 U.S. 1, Edison, NJ 08817, USA 08830
          %br/
          %strong Phone :
          %a{:href => "tel:+16093563913"} +1 (609) 356-3913
          %br/
          %strong Email :
          %a{:href => "mailto:marigolddancestudio@gmail.com?Subject=Inquiry"} contact@marigolddancestudio.com
          %br/
          %ul.actions
            %li
              %a.icon.fa-facebook{:href => "https://www.facebook.com/pages/Marigold-Dance-Studio/878203748866563", :target => "blank"}
                %span.label Facebook
            %li
              %a.icon.fa-google-plus{:href => "#"}
                %span.label Google+
            %li
              %a.icon.fa-instagram{:href => "https://instagram.com/marigolddancestudio/", :target => "blank"}
                %span.label Instagram
    .contact-form
      %p You can also email us, just fill out the form below :
      .box.container{:class => "75%"}
        / Contact Form
        %form{:action => "#", :method => "post"}
          .row{:class => "50%"}
            .6u
              %input{:name => "name", :placeholder => "Name", :type => "text"}/
            .6u
              %input{:name => "email", :placeholder => "Email", :type => "email"}/
            .6u
              %input{:name => "phone_number", :placeholder => "Phone Number", :type => "text"}/
          .row{:class => "50%"}
            .12u
              %textarea{:name => "message", :placeholder => "Message", :rows => "10"}
          .row
            .12u
              %ul.actions
                %li
                  %input{:type => "submit", :value => "Send Message"}/
/ Footer
%footer#footer
  / Icons
  %ul.actions
    %li © Marigold Dance Studio
    
%script{:src => "https://maps.googleapis.com/maps/api/js"}
:javascript
  function initialize() {
    var myLatlng = new google.maps.LatLng(40.504945,-74.398299);
    var mapOptions = {
      zoom: 17,
      center: myLatlng
    }
    var contentString = '<div class="info-box"><strong>Marigold Dance Studio</strong><br/><a href="https://www.google.com.au/maps/place/485+U.S.+1,+Edison,+NJ+08830,+USA/@40.5049454,-74.3982993,17z/data=!4m7!1m4!3m3!1s0x89c3b679b0825de3:0x998ac063b333da48!2s485+U.S.+1,+Edison,+NJ+08830,+USA!3b1!3m1!1s0x89c3b679b0825de3:0x998ac063b333da48?hl=en" target="blank">485 U.S. 1, Edison, NJ 08817, USA 08830</a></div>';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    var image = 'http://res.cloudinary.com/drg9hguhu/image/upload/v1429266536/marigoldflower_gmckiw.png';
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'Marigold Dance Studio',
        icon: image
    });
    infowindow.open(map,marker);
  }

  google.maps.event.addDomListener(window, 'load', initialize);