%section#team-intro.main.style1.dark.fullscreen
  .content.container
    %header
      %h3 TEAM & PROGRAMS
    / Lightbox Gallery
    .container.gallery{:class => "75%"}
      .row.images{:class => "0%"}
        - @instructors.each do |instructor|
          .team-container
            .team-header
              = image_tag instructor.image_path, height: "260px", width: "280px"
              %span 
                = instructor.name 
                &#44;
                = instructor.title
            .team-content
              = instructor.bio.html_safe

:coffee
  $(document).ready ->
    $.backstretch 'http://res.cloudinary.com/drg9hguhu/image/upload/v1429266615/Marigold8_bwkathak_f71kib.jpg', centeredY: true
    $('.team-content').readmore
      lessLink: '<a href="#">Read less</a>'
      collapsedHeight: 223
