@charset 'UTF-8';
@import url('font-awesome.min.scss');
@font-face {
    font-family: 'quicksandlight';
    src: font-url('quicksand/Quicksand-Light-webfont.eot');
    src: font-url('quicksand/Quicksand-Light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('quicksand/Quicksand-Light-webfont.woff2') format('woff2'),
         font-url('quicksand/Quicksand-Light-webfont.woff') format('woff'),
         font-url('quicksand/Quicksand-Light-webfont.ttf') format('truetype'),
         font-url('quicksand/Quicksand-Light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'libel_suitregular';
    src: font-url('libel/libelsuit-webfont.eot');
    src: font-url('libel/libelsuit-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('libel/libelsuit-webfont.woff2') format('woff2'),
         font-url('libel/libelsuit-webfont.woff') format('woff'),
         font-url('libel/libelsuit-webfont.ttf') format('truetype'),
         font-url('libel/libelsuit-webfont.svg#libel_suitregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sinkin_sans100_thin';
    src: font-url('sinkin/SinkinSans-100Thin-webfont.eot');
    src: font-url('sinkin/SinkinSans-100Thin-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('sinkin/SinkinSans-100Thin-webfont.woff') format('woff'),
         font-url('sinkin/SinkinSans-100Thin-webfont.ttf') format('truetype'),
         font-url('sinkin/SinkinSans-100Thin-webfont.svg#sinkin_sans100_thin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fabricaregular';
    src: font-url('fabrica/Fabrica-webfont.eot');
    src: font-url('fabrica/Fabrica-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('fabrica/Fabrica-webfont.woff2') format('woff2'),
         font-url('fabrica/Fabrica-webfont.woff') format('woff'),
         font-url('fabrica/Fabrica-webfont.ttf') format('truetype'),
         font-url('fabrica/Fabrica-webfont.svg#fabricaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
	Big Picture by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	html {
		height: 100%;
	}

	body {
		background: #fff;
		height: 100%;
	}

		body.is-loading *,
		body.is-resizing *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	body,input,textarea,select {
		font-family: 'quicksandlight';
		font-weight: 300;
		font-size: 18pt;
		line-height: 1.75em;
		color: #fff;
		letter-spacing: 0.5px;
	}

	h1,h2,h3,h4,h5,h6 {
		font-weight: 900;
		color: inherit;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 2.25em;
		letter-spacing: -2px;
		line-height: 1.25em;
	}

	h3 {
		font-size: 2em;
	}

	strong, b {
		font-weight: 900;
		color: inherit;
	}

	em, i {
		font-style: italic;
	}

	a {
		color: #98c593;

		-moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	.description {
		background: rgba(0,0,0,.5);
		color: white;
		font-family: 'quicksandlight';
		font-size: 0.9em;
		text-align: justify;
	}

	header {
		margin-bottom: 1em;
	}

		header p {
			display: block;
			margin: 1em 0 0 0;
			padding: 0 0 0.5em 0;
		}

	footer {
		margin-top: 2em;
	}

	br.clear {
		clear: both;
	}

	.team-container {
	    width:125%;
	    border:1px solid #000;
	    border-radius: 10px;
			-moz-border-radius:10px;
			-webkit-border-radius:10px;

	    font-size: 18px;
	    background: #000;
	    margin-bottom: 3%;
	    font-family: 'quicksandlight';
	    margin-left: -12%;
	}
	.team-container:after {
        content: '\000A';
        white-space: pre;
    }
	.team-container div {
	    width:100%;
	}
	.team-container .team-header {
	    padding: 2px;
	    cursor: pointer;
	    font-weight: bold;
	}
	.team-container .team-header img {
		float: left;
		border-radius: 50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;

		position: absolute;
		left: 5%;
		z-index: 1;
		padding: 1%;
		margin-top: 2.5%;
		width: 20%;
		height: 230px;
		overflow: hidden;
	}

	.team-container .team-header> span:first-child + span {
	    float:right;
	}
	.team-container .team-content {
	  display: block;
	  padding : 5px;
	 	background: rgba(0, 0, 0,.7);
	 	text-align: left;
	 	position: relative;
	 	padding: 5px 5px 5px 25%;
	 	z-index: 0;
	}

	.team-container .team-content + [data-readmore-toggle], selector[data-readmore] {
		background: rgba(0, 0, 0,.7);
	}
	/* Sections/Article */

		section,
		article {
			margin-bottom: 3em;
		}

			section > :last-child,
			article > :last-child {
				margin-bottom: 0;
			}

			section > .content > :last-child,
			article > .content > :last-child {
				margin-bottom: 0;
			}

			section:last-child,
			article:last-child {
				margin-bottom: 0;
			}

			.row > section,
			.row > article {
				margin-bottom: 0;
			}

	/* Image */

		.image {
			position: relative;
			display: inline-block;
		}

			.image:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: asset-data-url('overlay.png');
			}

			.image img {
				display: block;
				width: 100%;
			}

			.image.featured {
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}

			.image.fit {
				display: block;
				width: 100%;
			}

			.image.left {
				float: left;
				margin: 0 2em 2em 0;
			}

			.image.centered {
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img {
					margin: 0 auto;
					width: auto;
				}

	/* List */

		ul {
		}

			ul.default {
				list-style: disc;
				padding-left: 1em;
			}

				ul.default li {
					padding-left: 0.5em;
				}

			ul.icons {
				cursor: default;
			}

				ul.icons li {
					display: inline-block;
				}

					ul.icons a {
						display: inline-block;
						width: 2em;
						height: 2em;
						line-height: 2em;
						text-align: center;
						border: 0;
					}

			ul.menu {
				cursor: default;
			}

				ul.menu li {
					display: inline-block;
					line-height: 1em;
					border-left: solid 1px rgba(145,146,147,0.25);
					padding: 0 0 0 0.5em;
					margin: 0 0 0 0.5em;
				}

				ul.menu li:first-child {
					border-left: 0;
					padding-left: 0;
					margin-left: 0;
				}

			ul.actions {
				cursor: default;
			}

				ul.actions li {
					display: inline-block;
					margin: 0 0 0 0.5em;
				}

				ul.actions li:first-child {
					margin-left: 0;
				}

		ol {
		}

			ol.default {
				list-style: decimal;
				padding-left: 1.25em;
			}

				ol.default li {
					padding-left: 0.25em;
				}

	/* Form */

		form {
		}

			form label {
				display: block;
			}

			form input[type="text"],
			form input[type="email"],
			form input[type="password"],
			form select,
			form textarea {
				display: block;
				width: 100%;
				padding: 0.65em 0.75em;
				background: none;
				border: solid 2px rgba(185,186,187,0.25);
				color: inherit;
				border-radius: 0.5em;
				-moz-border-radius:.5em;
				-webkit-border-radius:.5em;

				outline: none;

				-moz-appearance: none;
				-webkit-appearance: none;
				-o-appearance: none;
				-ms-appearance: none;
				appearance: none;

				-moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
				transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
			}

				form input[type="text"]:focus,
				form input[type="email"]:focus,
				form input[type="password"]:focus,
				form select:focus,
				form textarea:focus {
					border-color: #9ac8e9;
				}

			form input[type="text"],
			form input[type="email"],
			form input[type="password"],
			form select {
				line-height: 1.35em;
			}

			form textarea {
				min-height: 8em;
			}

			form .formerize-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form ::-webkit-input-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form :-moz-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form ::-moz-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form :-ms-input-placeholder {
				color: rgba(145,146,147,0.85) !important;
			}

			form ::-moz-focus-inner {
				border: 0;
			}

	/* Table */

		table {
			width: 97%;
		}

			table.default {
				width: 100%;
			}

				table.default tbody tr:nth-child(2n+2) {
					background: #000;
				}

				table.default td {
					padding: 0.5em 1em 0.5em 1em;
				}

				table.default th {
					text-align: left;
					font-weight: 900;
					padding: 0.5em 1em 0.5em 1em;
				}

				table.default thead {
					background: #000;
					color: #fff;
				}

				table.default tfoot {
					background: #eee;
				}

				table.default tbody {
				}
	
	#schedule {
		h1 {
			text-align: center;
		}
	}
	/* Button */
		.btn {
			border: none;
			font-family: inherit;
			font-size: inherit;
			color: inherit;
			background: none;
			cursor: pointer;
			padding: 20px 50px;
			display: inline-block;
			margin: 15px 30px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 400;
			outline: none;
			position: relative;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}

		.btn:after {
			content: '';
			position: absolute;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}

		.btn-box {
          color: #fff;
          text-decoration: none;
          border:1px solid #fff;
		}

		/* Button 1b */
		.btn-box:after {
			width: 100%;
			height: 0;
			top: 0;
			left: 0;
			background: #fff;
		}

		.btn-box:hover,
		.btn-box:active {
			color: #000;
		}

		.btn-box:hover:after,
		.btn-box:active:after {
			height: 100%;
		}

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button {
			background-color: #4d4949;
			border: 0;
			border-radius: 3.5em;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			height: 3.5em;
			line-height: 3.5em;
			outline: 0;
			padding: 0 2em 0 2em;
			position: relative;
			text-align: center;
			text-decoration: none;

			-moz-appearance: none;
			-webkit-appearance: none;
			-o-appearance: none;
			-ms-appearance: none;
			appearance: none;

			-moz-transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
		}

			.button.down {
				width: 5em;
				height: 5em;
				line-height: 4.5em;
				padding: 0;
				background-image: asset-data-url('dark-arrow.svg');
				background-position: center center;
				background-repeat: no-repeat;
				text-indent: -10em;
				overflow: hidden;
			}

				.button.down.anchored {
					bottom: 0;
					border-bottom: 0;
					border-radius: 3em 3em 0 0;
					height: 4.5em;
					margin-left: -2.5em;
				}

			.button.anchored {
				position: absolute;
				left: 50%;
			}

			input[type="button"]:hover,
			input[type="submit"]:hover,
			input[type="reset"]:hover,
			.button:hover {
				background-color: #a8d5a3;
			}

			input[type="button"]:active,
			input[type="submit"]:active,
			input[type="reset"]:active,
			.button:active {
				background-color: #88b583;
			}

			input[type="button"].style2,
			input[type="submit"].style2,
			input[type="reset"].style2,
			.button.style2 {
				background-color: transparent;
				border: solid 2px #e5e6e7;
				color: inherit;
			}

				input[type="button"].style2:hover,
				input[type="submit"].style2:hover,
				input[type="reset"].style2:hover,
				.button.style2:hover {
					background-color: rgba(145,146,147,0.035);
				}

				.button.style2.down {
					background-image: asset-data-url('arrow.svg');
				}

	/* Box */

	.intro-box {
		color: #000;
		padding: 2em;
	}

	.rent-intro-box {
		color: #fff;
		padding: 2em;
	}

	.intro-box.style2 {
		padding: 3.5em 2.5em 3.5em 2.5em;
	}

	.box {
		background: rgba(0, 0, 0,.7);
		color: #fff;
		padding: 2em;
	}

	.box.style2 {
		padding: 3.5em 2.5em 3.5em 2.5em;
	}

	/* map stuff */

	#map-canvas {
      width: 600px;
      height: 300px;
      float: left;
    }

    .info-box {
      width: 300px;
      height: 60px;
      color: #000;
    }

    .contact-box {
      width: 1200px;
      height: 300px;
      margin: auto;
    }

    .contact-details {
      width: 600px;
      height: 300px;
      float: left;
      text-align: left;
      padding-left: 3%;
    }
    .clear:after {
      clear: both;
      display: table;
      content: "";
	}

	/* Main */

		.main {
			position: relative;
			margin: 0;
			overflow-x: hidden;
		}

			.main.fullscreen {
				height: 100%;
			}

			.main.style1 {
				text-align: center;
				padding: 3em 0 3em 0;
			}

				.main.style1 h2 {
					font-size: 3.25em;
					line-height: 1em;
					letter-spacing: -4px;
				}

				.main.style1:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				.main.style1 .content {
					opacity: 1.0;
					display: inline-block;
					vertical-align: middle;

					-moz-transition: all 1s ease;
					-webkit-transition: all 1s ease;
					-o-transition: all 1s ease;
					-ms-transition: all 1s ease;
					transition: all 1s ease;

					-moz-transform: translateZ(0);
					-webkit-transform: translateZ(0);
					-o-transform: translateZ(0);
					-ms-transform: translateZ(0);
					transform: translateZ(0);
				}

			.main.style1.inactive {
			}

				.main.style1.inactive .content {
					opacity: 0;
				}

			.main.style2 {
				padding: 3em 0 3em 0;
				overflow: hidden;
			}

				.main.style2 .content {
					position: relative;
					width: 35%;
					display: inline-block;
					vertical-align: middle;
				}

				/* make keyframes that tell the start state and the end state of our object */
				@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
				@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
				@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

				.fade-in {
					opacity:0;  /* make things invisible upon start */
					-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
					-moz-animation:fadeIn ease-in 1;
					animation:fadeIn ease-in 1;

					-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
					-moz-animation-fill-mode:forwards;
					animation-fill-mode:forwards;

					-webkit-animation-duration:1s;
					-moz-animation-duration:1s;
					animation-duration:1s;
				}

				.fade-in.one {
				-webkit-animation-delay: 1.2s;
				-moz-animation-delay: 1.2s;
				animation-delay: 1.2s;
				}

				.main.style2.left {
				}

					.main.style2.left:after {
						content: '';
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}

					.main.style2.left .content {
						left: 0;
					}

				.main.style2.right {
				}

					.main.style2.right:before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}

					.main.style2.right .content {
						left: 56%;
					}

				.main.style2.center {
				}

					.main.style2.center:before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}

					.main.style2.center .content {
						left: 30%;
						right: 30%;
						text-align: center;
					}

				.main.style2.inactive {
				}

					.main.style2.inactive .content {
					}

						.main.style2.inactive.left .content {
							left: -35%;
						}

						.main.style2.inactive.right .content {
							left: 100%;
						}

			.main.style3 {
				text-align: center;
				padding: 6em 0 6em 0;
			}

				.main.style3 .content {
					margin-top: -4.5em;
				}

					.main.style3 .content > header {
						margin-bottom: 2em;
					}

				.main.style3.primary {
					background: #fff;
				}

				.main.style3.secondary {
					background: #4d4949;
				}

	/* Dark */

		.dark {
			color: #fff;
		}

			.dark a {
				color: #fff;
			}

			.dark .button.style2 {
				border-color: inherit;
				background-color: rgba(64,64,64,0.05);
			}

				.dark .button.style2:hover {
					background-color: rgba(255,255,255,0.1);
				}

				.dark .button.style2.down {
					background-image: asset-data-url('dark-arrow.svg');
				}

/*********************************************************************************/
/* Spinner                                                                       */
/*********************************************************************************/

	@-moz-keyframes spinner-rotate { 0% { -moz-transform: scale(1) rotate(0deg); -webkit-transform: scale(1) rotate(0deg); -o-transform: scale(1) rotate(0deg); -ms-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); } 100% { -moz-transform: scale(1) rotate(360deg); -webkit-transform: scale(1) rotate(360deg); -o-transform: scale(1) rotate(360deg); -ms-transform: scale(1) rotate(360deg); transform: scale(1) rotate(360deg); } }
	@-webkit-keyframes spinner-rotate { 0% { -moz-transform: scale(1) rotate(0deg); -webkit-transform: scale(1) rotate(0deg); -o-transform: scale(1) rotate(0deg); -ms-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); } 100% { -moz-transform: scale(1) rotate(360deg); -webkit-transform: scale(1) rotate(360deg); -o-transform: scale(1) rotate(360deg); -ms-transform: scale(1) rotate(360deg); transform: scale(1) rotate(360deg); } }
	@-o-keyframes spinner-rotate { 0% { -moz-transform: scale(1) rotate(0deg); -webkit-transform: scale(1) rotate(0deg); -o-transform: scale(1) rotate(0deg); -ms-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); } 100% { -moz-transform: scale(1) rotate(360deg); -webkit-transform: scale(1) rotate(360deg); -o-transform: scale(1) rotate(360deg); -ms-transform: scale(1) rotate(360deg); transform: scale(1) rotate(360deg); } }
	@-ms-keyframes spinner-rotate { 0% { -moz-transform: scale(1) rotate(0deg); -webkit-transform: scale(1) rotate(0deg); -o-transform: scale(1) rotate(0deg); -ms-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); } 100% { -moz-transform: scale(1) rotate(360deg); -webkit-transform: scale(1) rotate(360deg); -o-transform: scale(1) rotate(360deg); -ms-transform: scale(1) rotate(360deg); transform: scale(1) rotate(360deg); } }
	@keyframes spinner-rotate { 0% { -moz-transform: scale(1) rotate(0deg); -webkit-transform: scale(1) rotate(0deg); -o-transform: scale(1) rotate(0deg); -ms-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); } 100% { -moz-transform: scale(1) rotate(360deg); -webkit-transform: scale(1) rotate(360deg); -o-transform: scale(1) rotate(360deg); -ms-transform: scale(1) rotate(360deg); transform: scale(1) rotate(360deg); } }

/*********************************************************************************/
/* Loader                                                                        */
/*********************************************************************************/

	@-moz-keyframes spinner-show { 0% { opacity: 0; } 100% { opacity: 1; } }
	@-webkit-keyframes spinner-show { 0% { opacity: 0; } 100% { opacity: 1; } }
	@-o-keyframes spinner-show { 0% { opacity: 0; } 100% { opacity: 1; } }
	@-ms-keyframes spinner-show { 0% { opacity: 0; } 100% { opacity: 1; } }
	@keyframes spinner-show { 0% { opacity: 0; } 100% { opacity: 1; } }
	@-moz-keyframes spinner-hide { 0% { color: #ececec; z-index: 100001; -moz-transform: scale(1) rotate(0deg); -webkit-transform: scale(1) rotate(0deg); -o-transform: scale(1) rotate(0deg); -ms-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); } 99% { color: #ececec; z-index: 100001; -moz-transform: scale(0.5) rotate(360deg); -webkit-transform: scale(0.5) rotate(360deg); -o-transform: scale(0.5) rotate(360deg); -ms-transform: scale(0.5) rotate(360deg); transform: scale(0.5) rotate(360deg); } 100% { color: #ececec; z-index: -1; -moz-transform: scale(0.5) rotate(360deg); -webkit-transform: scale(0.5) rotate(360deg); -o-transform: scale(0.5) rotate(360deg); -ms-transform: scale(0.5) rotate(360deg); transform: scale(0.5) rotate(360deg); } }
	@-webkit-keyframes spinner-hide { 0% { color: #ececec; z-index: 100001; -moz-transform: scale(1) rotate(0deg); -webkit-transform: scale(1) rotate(0deg); -o-transform: scale(1) rotate(0deg); -ms-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); } 99% { color: #ececec; z-index: 100001; -moz-transform: scale(0.5) rotate(360deg); -webkit-transform: scale(0.5) rotate(360deg); -o-transform: scale(0.5) rotate(360deg); -ms-transform: scale(0.5) rotate(360deg); transform: scale(0.5) rotate(360deg); } 100% { color: #ececec; z-index: -1; -moz-transform: scale(0.5) rotate(360deg); -webkit-transform: scale(0.5) rotate(360deg); -o-transform: scale(0.5) rotate(360deg); -ms-transform: scale(0.5) rotate(360deg); transform: scale(0.5) rotate(360deg); } }
	@-o-keyframes spinner-hide { 0% { color: #ececec; z-index: 100001; -moz-transform: scale(1) rotate(0deg); -webkit-transform: scale(1) rotate(0deg); -o-transform: scale(1) rotate(0deg); -ms-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); } 99% { color: #ececec; z-index: 100001; -moz-transform: scale(0.5) rotate(360deg); -webkit-transform: scale(0.5) rotate(360deg); -o-transform: scale(0.5) rotate(360deg); -ms-transform: scale(0.5) rotate(360deg); transform: scale(0.5) rotate(360deg); } 100% { color: #ececec; z-index: -1; -moz-transform: scale(0.5) rotate(360deg); -webkit-transform: scale(0.5) rotate(360deg); -o-transform: scale(0.5) rotate(360deg); -ms-transform: scale(0.5) rotate(360deg); transform: scale(0.5) rotate(360deg); } }
	@-ms-keyframes spinner-hide { 0% { color: #ececec; z-index: 100001; -moz-transform: scale(1) rotate(0deg); -webkit-transform: scale(1) rotate(0deg); -o-transform: scale(1) rotate(0deg); -ms-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); } 99% { color: #ececec; z-index: 100001; -moz-transform: scale(0.5) rotate(360deg); -webkit-transform: scale(0.5) rotate(360deg); -o-transform: scale(0.5) rotate(360deg); -ms-transform: scale(0.5) rotate(360deg); transform: scale(0.5) rotate(360deg); } 100% { color: #ececec; z-index: -1; -moz-transform: scale(0.5) rotate(360deg); -webkit-transform: scale(0.5) rotate(360deg); -o-transform: scale(0.5) rotate(360deg); -ms-transform: scale(0.5) rotate(360deg); transform: scale(0.5) rotate(360deg); } }
	@keyframes spinner-hide { 0% { color: #ececec; z-index: 100001; -moz-transform: scale(1) rotate(0deg); -webkit-transform: scale(1) rotate(0deg); -o-transform: scale(1) rotate(0deg); -ms-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); } 99% { color: #ececec; z-index: 100001; -moz-transform: scale(0.5) rotate(360deg); -webkit-transform: scale(0.5) rotate(360deg); -o-transform: scale(0.5) rotate(360deg); -ms-transform: scale(0.5) rotate(360deg); transform: scale(0.5) rotate(360deg); } 100% { color: #ececec; z-index: -1; -moz-transform: scale(0.5) rotate(360deg); -webkit-transform: scale(0.5) rotate(360deg); -o-transform: scale(0.5) rotate(360deg); -ms-transform: scale(0.5) rotate(360deg); transform: scale(0.5) rotate(360deg); } }
	@-moz-keyframes overlay-hide { 0% { opacity: 1; z-index: 100000; } 15% { opacity: 1; z-index: 100000; } 99% { opacity: 0; z-index: 100000; } 100% { opacity: 0; z-index: -1; } }
	@-webkit-keyframes overlay-hide { 0% { opacity: 1; z-index: 100000; } 15% { opacity: 1; z-index: 100000; } 99% { opacity: 0; z-index: 100000; } 100% { opacity: 0; z-index: -1; } }
	@-o-keyframes overlay-hide { 0% { opacity: 1; z-index: 100000; } 15% { opacity: 1; z-index: 100000; } 99% { opacity: 0; z-index: 100000; } 100% { opacity: 0; z-index: -1; } }
	@-ms-keyframes overlay-hide { 0% { opacity: 1; z-index: 100000; } 15% { opacity: 1; z-index: 100000; } 99% { opacity: 0; z-index: 100000; } 100% { opacity: 0; z-index: -1; } }
	@keyframes overlay-hide { 0% { opacity: 1; z-index: 100000; } 15% { opacity: 1; z-index: 100000; } 99% { opacity: 0; z-index: 100000; } 100% { opacity: 0; z-index: -1; } }

	body {
		text-decoration: none;
		background: url('http://res.cloudinary.com/drg9hguhu/image/upload/v1429266546/tex2res4_ymmzzy.png') repeat;
	}

		body:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		body:before {
			-moz-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
			-webkit-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
			-o-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
			-ms-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
			animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
			-moz-transform-origin: 50% 50%;
			-webkit-transform-origin: 50% 50%;
			-o-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
			color: #ececec;
			content: '\f1ce';
			cursor: default;
			display: block;
			font-size: 2em;
			height: 2em;
			left: 50%;
			line-height: 2em;
			margin: -1em 0 0 -1em;
			opacity: 0;
			position: fixed;
			text-align: center;
			top: 50%;
			width: 2em;
			z-index: -1;
		}

		body:after {
			-moz-animation: overlay-hide 1.5s ease-in forwards !important;
			-webkit-animation: overlay-hide 1.5s ease-in forwards !important;
			-o-animation: overlay-hide 1.5s ease-in forwards !important;
			-ms-animation: overlay-hide 1.5s ease-in forwards !important;
			animation: overlay-hide 1.5s ease-in forwards !important;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: -1;
		}

		body.is-loading:before {
			-moz-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
			-webkit-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
			-o-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
			-ms-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
			animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
			z-index: 100001;
		}

		body.is-loading:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			opacity: 1;
			z-index: 100000;
		}

	@media (-webkit-min-device-pixel-ratio: 2) {
		body:before {
			line-height: 2.025em;
		}
	}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
			color: white;
		}

		.icon > .label {
			display: none;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header {
		position: fixed;
		z-index: 10000;
		left: 0;
		top: 0;
		width: 100%;
		background: #000;
		height: 3em;
		line-height: 3em;
		box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
	}

	body {
		padding-top: 3em;
	}

	#logo {
		position: absolute;
		left: 1em;
		top: 0;
		height: 3em;
		line-height: 3em;
		letter-spacing: -1px;
		font-family: 'libel_suitregular';
	}

		#logo a {
			font-size: 1.7em;
			font-weight: 100;
		}

	#nav {
		position: absolute;
		right: 0.5em;
		top: 0;
		height: 3em;
		line-height: 3em;
	}

		#nav ul {
			margin: 0;
		}

			#nav ul li {
				display: inline-block;
				margin-left: 0.5em;
				font-size: 0.7em;
				font-family: 'fabricaregular';
			}

				#nav ul li a {
					display: block;
					color: inherit;
					text-decoration: none;
					height: 3em;
					line-height: 3em;
					padding: 0 0.5em 0 0.5em;
					outline: 0;
				}

	.intro-text {
	  font-size: 1.2em;
	  font-weight: bold;
	}

	.less-text {
	  font-size: 1.5em;
	  text-align: center;		
	}
/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro {
		background: asset-data-url('overlay.png'), url('http://res.cloudinary.com/drg9hguhu/image/upload/v1429266572/FLP_8611_fc9l73.jpg');
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
		font-family: 'sinkin_sans100_thin';
	}

	#rent-intro {
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
		font-family: 'sinkin_sans100_thin';
	}

/*********************************************************************************/
/* One                                                                           */
/*********************************************************************************/

	#one {
		background: asset-data-url('overlay.png'), url('http://res.cloudinary.com/drg9hguhu/image/upload/v1429266571/FLP_8530_SOLO_ahh1og.jpg');
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

	#rent-one {
		background: asset-data-url('overlay.png'), url('http://res.cloudinary.com/drg9hguhu/image/upload/v1429266583/studio_w3ftn6.jpg');
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/*********************************************************************************/
/* Two                                                                           */
/*********************************************************************************/

	#two {
		background: asset-data-url('overlay.png'), url('http://res.cloudinary.com/drg9hguhu/image/upload/v1429266615/Marigold8_bwkathak_f71kib.jpg');
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/*********************************************************************************/
/* Three                                                                           */
/*********************************************************************************/

	#three {
		background: asset-data-url('overlay.png'), url('http://res.cloudinary.com/drg9hguhu/image/upload/v1429266588/Marigold5_BN_infvdw.jpg');
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/*********************************************************************************/
/* Three                                                                           */
/*********************************************************************************/

	#four {
		background: asset-data-url('overlay.png'), url('http://res.cloudinary.com/drg9hguhu/image/upload/v1429266587/studio1_mngrfz.jpg');
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

	#team-intro {
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
		font-family: 'sinkin_sans100_thin';
	}

/*********************************************************************************/
/* Work                                                                          */
/*********************************************************************************/

	#work {
		height: 70%;
	}

		#work .row.images {
		}

			#work .row.images .image {
				position: relative;
				top: 0;
				left: 0;
				opacity: 1.0;

				-moz-transition: all 1s ease;
				-webkit-transition: all 1s ease;
				-o-transition: all 1s ease;
				-ms-transition: all 1s ease;
				transition: all 1s ease;

				-moz-transform: translateZ(0);
				-webkit-transform: translateZ(0);
				-o-transform: translateZ(0);
				-ms-transform: translateZ(0);
				transform: translateZ(0);
			}

			#work .row.images.inactive {
			}

				#work .row.images.inactive .image {
					opacity: 0;
				}

				#work .row.images.inactive .image.from-left {
					left: -14em;
				}

				#work .row.images.inactive .image.from-right {
					left: 14em;
				}

				#work .row.images.inactive .image.from-top {
					top: -7em;
				}

				#work .row.images.inactive .image.from-bottom {
					top: 7em;
				}

/*********************************************************************************/
/* Contact                                                                       */
/*********************************************************************************/

	#contact {
		padding-bottom: 0;
		overflow: hidden;
	}

		#contact .box {
			position: relative;
			bottom: 0;

			-moz-transition: all 1s ease;
			-webkit-transition: all 1s ease;
			-o-transition: all 1s ease;
			-ms-transition: all 1s ease;
			transition: all 1s ease;

			-moz-transform: translateZ(0);
			-webkit-transform: translateZ(0);
			-o-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
		}

		#contact.inactive {
		}

			#contact.inactive .box {
				bottom: -30em;
			}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer {
		position: relative;
		height: 5em;
		line-height: 5em;
		margin: 0;
		background: #39454b;
		color: #999;
		color: rgba(185,186,187,0.5);
		overflow: hidden;
	}

		#footer a {
			color: #999;
			color: rgba(185,186,187,0.5);
		}

			#footer a:hover {
				color: #bbb;
				color: rgba(185,186,187,1.0);
			}

		#footer .actions {
			position: absolute;
			left: 1em;
			top: 0.25em;
			height: 5em;
			line-height: 5em;
			margin: 0;
		}

			#footer .actions li {
				font-size: 1.25em;
				margin: 0;
			}

				#footer .actions li a {
					padding: 0.5em;
				}

		#footer .menu {
			position: absolute;
			right: 2em;
			top: 0;
			height: 5em;
			line-height: 5em;
			margin: 0;
		}

			#footer .menu li {
				font-size: 0.9em;
			}

/*********************************************************************************/
/* Poptrox                                                                       */
/*********************************************************************************/

	.poptrox-popup {
		background: #fff;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-o-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
		padding-bottom: 3em;
		box-shadow: 0 0.1em 0.15em 0 rgba(0,0,0,0.15);
	}

		.poptrox-popup .loader {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -1em 0 0 -1em;
			width: 2em;
			height: 2em;
			display: block;
			font-size: 2em;
		}

		.poptrox-popup .loader:before {
			-moz-animation: spinner-rotate 0.75s infinite linear !important;
			-webkit-animation: spinner-rotate 0.75s infinite linear !important;
			-o-animation: spinner-rotate 0.75s infinite linear !important;
			-ms-animation: spinner-rotate 0.75s infinite linear !important;
			animation: spinner-rotate 0.75s infinite linear !important;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
			color: #ececec;
			content: '\f1ce';
			cursor: default;
			display: block;
			height: 2em;
			left: 0;
			line-height: 2em;
			position: absolute;
			text-align: center;
			top: 0;
			width: 2em;
		}

		.poptrox-popup .caption {
			position: absolute;
			bottom: 0;
			left: 0;
			background: #fff;
			width: 100%;
			height: 3em;
			line-height: 2.8em;
			text-align: center;
			cursor: default;
			z-index: 1;
			font-size: 0.9em;
		}

		.poptrox-popup .nav-next,
		.poptrox-popup .nav-previous {
			position: absolute;
			top: 0;
			width: 50%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
			background: rgba(0,0,0,0.01);
			-moz-transition: opacity 0.2s ease-in-out;
			-webkit-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			-webkit-tap-highlight-color: rgba(255,255,255,0);
		}

			.poptrox-popup .nav-next:before,
			.poptrox-popup .nav-previous:before {
				content: '';
				position: absolute;
				width: 96px;
				height: 64px;
				background: asset-data-url('poptrox-nav.svg');
				top: -moz-calc(50% - 1.5em);
				top: -webkit-calc(50% - 1.5em);
				top: -o-calc(50% - 1.5em);
				top: -ms-calc(50% - 1.5em);
				top: calc(50% - 1.5em);
				margin: -32px 0 0 0;
			}

			.poptrox-popup:hover .nav-next,
			.poptrox-popup:hover .nav-previous {
				opacity: 0.5;
			}

			.poptrox-popup:hover .nav-next:hover,
			.poptrox-popup:hover .nav-previous:hover {
				opacity: 1.0;
			}

			.poptrox-popup .nav-previous:before
			{
				-moz-transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				-o-transform: scaleX(-1);
				-ms-transform: scaleX(-1);
				transform: scaleX(-1);
				-ms-filter: "FlipH";
				filter: FlipH;
			}

		.poptrox-popup .nav-next {
			right: 0;
		}

			.poptrox-popup .nav-next:before {
				right: 0;
			}

		.poptrox-popup .nav-previous {
			left: 0;
		}

			.poptrox-popup .nav-previous:before {
				left: 0;
			}

		.poptrox-popup .closer {
			position: absolute;
			top: 0;
			right: 0;
			width: 64px;
			height: 64px;
			text-indent: -9999px;
			z-index: 2;
			opacity: 0;
			-moz-transition: opacity 0.2s ease-in-out;
			-webkit-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			-webkit-tap-highlight-color: rgba(255,255,255,0);
		}

			.poptrox-popup .closer:before {
				content: '';
				display: block;
				position: absolute;
				right: 16px;
				top: 16px;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				box-shadow: inset 0 0 0 2px #fff;
				background: asset-data-url('poptrox-closer.svg') center center;
				color: #fff !important;
			}

			.poptrox-popup:hover .closer {
				opacity: 0.5;
			}

			.poptrox-popup:hover .closer:hover {
				opacity: 1.0;
			}

 	/*****Table*****/
 	.table-title {
 		text-align: center;
 		margin-top: 3%;
 	}

	table a:link {
		color: #fff;
		font-weight: bold;
		text-decoration:none;
	}
	table a:visited {
		color: #fff;
		font-weight:bold;
		text-decoration:none;
	}
	table a:active,
	table a:hover {
		color: #000;
		text-decoration:underline;
	}
	table {
		color: #fff;
		font-size:16px;
		background:#000;
		margin:20px;
		border:#000 1px solid;

		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
	}
	table th {
		padding:21px 25px 22px 25px;
		border-top:1px solid #000;
		border-bottom:1px solid #fff;

		background: #000;
	}
	table th:first-child {
		text-align: left;
		padding-left:20px;
	}
	table tr:first-child th:first-child {
		-moz-border-radius-topleft:3px;
		-webkit-border-top-left-radius:3px;
		border-top-left-radius:3px;
	}
	table tr:first-child th:last-child {
		-moz-border-radius-topright:3px;
		-webkit-border-top-right-radius:3px;
		border-top-right-radius:3px;
	}
	table tr {
		text-align: center;
		padding-left:20px;
	}
	table td:first-child {
		text-align: left;
		padding-left:20px;
		border-left: 0;
	}
	table td {
		padding: 15px 5px 15px 0px;
		border-top: 1px solid #000;
		border-bottom:1px solid #000;
		border-left: 1px solid #000;

		background: #000;
	}
	table tr.even td {
		background: #000;
	}
	table tr:last-child td {
		border-bottom:0;
	}
	table tr:last-child td:first-child {
		-moz-border-radius-bottomleft:3px;
		-webkit-border-bottom-left-radius:3px;
		border-bottom-left-radius:3px;
	}
	table tr:last-child td:last-child {
		-moz-border-radius-bottomright:3px;
		-webkit-border-bottom-right-radius:3px;
		border-bottom-right-radius:3px;
	}
	table tr:hover td {
		background: #fff;
		color: #000;
			a:link {
				color: #000;
				font-weight: bold;
				text-decoration:none;
		}
	}
  
  .center {
  	text-align: center;
  }

	.class-details {
 		background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;	
    font-family: "quicksandlight";
    font-size: 18px;
    height: 94%;
    margin-left: 5%;
    margin-top: 2%;
    overflow: scroll;
    padding-left: 3%;
    padding-right: 3%;
    width: 91%;
	}

	.attendee-form {
 		background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;	
    font-family: "quicksandlight";
    font-size: 18px;
    height: 94%;
    margin-left: 5%;
    margin-top: 0%;
    overflow: scroll;
    padding-left: 3%;
    padding-right: 3%;
    width: 91%;
    .captacha {
    	margin-top: 1%;
    }
	}

/*********************************************************************************/
/* Touch Mode                                                                    */
/*********************************************************************************/

	body.is-touch {
	}

		body.is-touch .main {
			background-attachment: scroll !important;
		}

		body.is-touch .poptrox-popup {
		}

			body.is-touch .poptrox-popup .nav-next,
			body.is-touch .poptrox-popup .nav-previous,
			body.is-touch .poptrox-popup .closer {
				opacity: 1.0 !important;
			}
